.posts h2 {
    text-align: center;
    margin: 35px 0;

}

.posts_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.postes_card {
    width: 45%;
    background: #FFFFFF;
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 5px;
    padding: 30px;
}

.posts_body {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts_body img {
    margin: 15px;
}